<mat-card>
  <mat-card-header>
    <mat-card-title>
      Intershop PWA
    </mat-card-title>
    <mat-card-subtitle>
      <app-chip-tag-list [tags]="['Angular', 'Typescript', 'Rxjs', 'Ngrx']"></app-chip-tag-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="row">
      <div class="col-5">
      </div>
      <div class="col-7">
        Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
        quia voluptas sit aspernatur aut odit aut fugit. Sed ut perspiciatis
        unde omnis iste natus error sit voluptatem accusantium doloremque.
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-7 offset-5">
        <button mat-raised-button color="primary">View on Github</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
