<mat-card class="h-100">
  <mat-card-header>
    <mat-card-title> Personal Website </mat-card-title>
    <mat-card-subtitle>
      <app-chip-tag-list
        [tags]="['Angular', 'Typescript', 'Angular Material', 'Bootstrap']"
      ></app-chip-tag-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <img class="thumbnail" src="assets/temp_website_screenshot.PNG" />
        </div>
        <div class="col-7 d-flex flex-column justify-content-between">
          <div class="row">
            <p>
              I built this website partially for fun and partially as an extension of my CV. Here, you can get an overview of my education and career as well as have a more detailed look at various projects I've worked on.
              Of course, the code is available on Github, so feel free to have a look.
            </p>
          </div>
          <div class="row">
            <div class="col-auto">
              <a
                mat-raised-button
                href="https://github.com/"
                color="primary"
                >View on Github</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
