<h1 class="pt-4 text-center section-heading" appScrollableSection>Education and Experience</h1>
<div style="position: relative" #circle_icon>
  <div class="d-none d-md-block">
    <div class="vl" [@unroll]="(hasReached$ | async) || false"></div>
    <button mat-fab color="primary" class="circle-icon">
      <mat-icon>dvr</mat-icon>
    </button>
    <div class="row" style="height: 100px"></div>
  </div>

  <!-- Intershop -->
  <app-timeline-entry side="left" chip="Oct 2020">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-avatar-icon">work_outline</mat-icon>
        <mat-card-title>Junior Software Engineer</mat-card-title>
        <mat-card-subtitle>Intershop Communications</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <p>
          I transitioned from my working student job into a full-time, remote position at Intershop after I completed my
          studies. <br />
          I joined as a junior software engineer and am working on the
          <a href="#projects">Intershop PWA</a>. I'm constantly in the process of learning more about Angular, web
          development and enterprise software. <br />
          Working here has sparked a passion for Angular that I love to explore in my free time!
        </p>
      </mat-card-header>
    </mat-card>
  </app-timeline-entry>

  <!-- BSC Informatik -->
  <app-timeline-entry side="right" chip="Jul 2020">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-avatar-icon">school</mat-icon>
        <mat-card-title>B.Sc. Computer Science</mat-card-title>
        <mat-card-subtitle>Friedrich-Schiller-Universität, Jena</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <p>
          I obtained my B.Sc. Informatik (Computer Science) with a focus on Machine Learning. <br />
          See the <a href="#projects">Projects</a> section to have a look at my bachelor thesis for which I received a
          grade of 1,0. <br />
        </p>
      </mat-card-header>
    </mat-card>
  </app-timeline-entry>

  <!-- Working Student Intershop -->
  <app-timeline-entry side="left" chip="Feb 2017">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-avatar-icon">work_outline</mat-icon>
        <mat-card-title>Working Student - Software Engineering</mat-card-title>
        <mat-card-subtitle>Intershop Communications</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <p>
          I started my job as a working student in the engineering department during my bachelor's. I worked on the
          Intershop Cloud Portal and the Intershop PWA, both of which are angular-based projects. In addition to
          learning about Angular and web development in general, I was introduced to working on enterprise software and
          what it means to be part of an agile team.
        </p>
      </mat-card-header>
    </mat-card>
  </app-timeline-entry>

  <!-- Abitur -->
  <app-timeline-entry side="right" chip="Jul 2015">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-avatar-icon">school</mat-icon>
        <mat-card-title>Abitur</mat-card-title>
        <mat-card-subtitle>Theresien-Gymnasium, München</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <p>
          I obtained my Abitur (german high school diploma) after passing final exams in the subjects Mathematics,
          German, English, Chemistry and Geography. <br />
          I received a final grade of 1,8.
        </p>
      </mat-card-header>
    </mat-card>
  </app-timeline-entry>
</div>
