<mat-card>
  <div class="row">
    <div class="col-5">
      <mat-list>
        <mat-list-item>Age: 23 years</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Position: Software Engineer</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Citizenship: German</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Mail: maxkless.dev@gmail.com</mat-list-item>
      </mat-list>
    </div>
    <div class="col-7 pt-4 size16">
      <p><strong>Hi, I'm Max</strong></p>
      <p>
        I'm a young, dynamic Software Engineer with over three years of
        experience working with Angular. I'm passionate about writing code and
        always looking to learn and expand my horizon. Successfully researched
        and integrated multiple libraries and frameworks into enterprise
        software. I have a B.Sc. in Computer Science but am far from done
        educating myself. <br />
        In my free time you will find me writing more code, reading sci-fi and
        travelling the world with my wife.
      </p>
        <button mat-raised-button color="primary" >Download CV</button>
        <button mat-stroked-button color="primary" class="mx-2"> Contact Me</button>

    </div>
  </div>
</mat-card>
