<mat-card appScrollableSection>
  <div class="row">
    <div class="d-none d-md-block col-md-5">
      <mat-list>
        <mat-list-item>Age: 23 years</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Position: Software Engineer</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Citizenship: German</mat-list-item>
        <mat-divider [inset]="true"></mat-divider>
        <mat-list-item>Mail: maxkless.dev@gmail.com</mat-list-item>
      </mat-list>
    </div>
    <div class="col-12 col-md-7 pt-4 size16">
      <p><strong>Hi, I'm Max</strong></p>
      <p>
        I'm a recent computer science graduate that is currently working as a Software Engineer at Intershop
        Communications AG. <br />
        Over three years of experience working with Angular and loving it.
        <br />
        Passionate about writing code and always looking to learn. <br />
        Successfully researched and integrated multiple libraries and frameworks into enterprise software. <br />
        B.Sc. in Computer Science but far from done educating myself. <br />
        Love working within a team, collaborating and learning from each other.
        <br />
        My position is fully remote so after work you can hopefully find me reading a book at the beach or enjoying a
        sunset with a view.
      </p>
      <a mat-raised-button color="primary" href="assets/Max_Kless_Resume.PDF" download="max_kless_resume.pdf">
        Download CV
      </a>
      <button mat-stroked-button color="primary" class="mx-2">Contact Me</button>
    </div>
  </div>
</mat-card>
