<mat-card class="h-100">
  <button mat-icon-button class="expand-button" (click)="openDialog()">
    <mat-icon>open_in_new</mat-icon>
  </button>
  <mat-card-header>
    <mat-card-title> Intershop PWA </mat-card-title>
    <mat-card-subtitle>
      <app-chip-tag-list
        [tags]="['Angular', 'Typescript', 'rxjs', 'ngrx', 'Bootstrap']"
      ></app-chip-tag-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-5 d-none d-md-block">
          <img class="thumbnail" src="assets/pwa_screenshot.png" />
        </div>
        <div class="col-12 col-md-7 d-flex flex-column justify-content-between">
          <div class="row">
            <p>
              The Intershop PWA is an Angular-based progressive web app
              storefront for the Intershop Commerce Suite. <br />
              Developing the Intershop PWA has given me a broad insight into the
              process of building an enterprise-scale Angular project. I have
              gathered a lot of experience in writing angular components,
              services and tests in addition to working with a multitude of
              additional technologies and frameworks that are used within the
              PWA. For more information on my responsibilites, have a look at
              the detailed overview.
            </p>
          </div>
          <div class="row">
            <div class="col-auto mt-1">
              <a
                href="https://github.com/intershop/intershop-pwa"
                mat-raised-button
                color="primary"
              >
                View on Github
              </a>
            </div>
            <div class="col-auto mt-1">
              <a mat-raised-button color="primary" (click)="openDialog()"> Show Details </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
