<div class="mat-app-background" [ngClass]="{ darkMode: (darkMode$ | async) }">
  <div class="mat-typography">
    <app-header> </app-header>
    <div class="container">
      <app-overview id="overview"> </app-overview>
      <app-skills id="skills"></app-skills>
      <app-education id="education"></app-education>
      <app-projects id="projects"></app-projects>
    </div>
    <div id="copyright" class="m-5">
      <p class="text-center">&copy; Max Kless, 2021</p>
    </div>
  </div>
  <app-scroll-fab></app-scroll-fab>
</div>
