<h2>
  Intershop PWA
  <app-chip-tag-list
    [tags]="['Angular', 'Typescript', 'Rxjs', 'Ngrx']"
  ></app-chip-tag-list>
</h2>
<mat-card-content>
  <div class="row">
    <div class="col-6">
      <h4>My responsibilites while developing the Intershop PWA include:</h4>
      <ul>
        <li>
          Developing, maintaining and testing clean, reusable angular
          components.
        </li>
        <li>
          Developing and testing services that interact with various REST APIs.
        </li>
        <li>Developing a large NGRX store.</li>
        <li>Using RXJS to write functional, observable-driven code.</li>
        <li>Developing, debugging and using angular schematics.</li>
        <li>Developing and maintaining end-to-end tests with cypress.</li>
      </ul>
    </div>
    <div class="col-6">
      <div class="d-flex flex-column">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Formly Integration </mat-panel-title>
          </mat-expansion-panel-header>
          <p>
            <strong> The Problem: </strong> <br />
            We realized that our complex network of custom form components,
            including validation and styling, was becoming increasingly hard to
            maintain and customize - both for ourselves and for our clients. We
            needed a flexible, easily customizable way to write forms.<br />
            <strong> The Solution:</strong>
            I researched the <a href="https://formly.dev/">Formly</a> library
            which allows for programmatic definition of forms via typescript.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel class="mt-1">
          <mat-expansion-panel-header>
            <mat-panel-title>Localization Update </mat-panel-title>
          </mat-expansion-panel-header>
          blub lub
        </mat-expansion-panel>
        <mat-expansion-panel class="mt-1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Automatic Migration with TS-Morph
            </mat-panel-title>
          </mat-expansion-panel-header>
          blub lub
        </mat-expansion-panel>
      </div>
    </div>
  </div>
</mat-card-content>
