<h1 class="pt-4 text-center">Education and Experience</h1>
<div style="position: relative">
  <div class="vl"></div>
  <button mat-fab color="accent" class="circle-icon">
    <mat-icon>dvr</mat-icon>
  </button>

  <div class="row" style="height: 100px"></div>

  <!-- Intershop -->
  <app-timeline-entry side="left" chip="Oct 2020">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-avatar-icon">work</mat-icon>
        <mat-card-title>Junior Software Engineer</mat-card-title>
        <mat-card-subtitle>Intershop Communications</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <p>
          Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum
          maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed,
          pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi vulputate
          pro. Ius illum vocent mediocritatem an, cule dicta iriure at.
        </p>
      </mat-card-header>
    </mat-card>
  </app-timeline-entry>

  <!-- BSC Informatik -->
  <app-timeline-entry side="right" chip="Jul 2020">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-avatar-icon">school</mat-icon>
        <mat-card-title>B.Sc. Computer Science</mat-card-title>
        <mat-card-subtitle
          >Friedrich-Schiller-Universität, Jena</mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-header>
        <p>
          Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum
          maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed,
          pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi vulputate
          pro. Ius illum vocent mediocritatem an, cule dicta iriure at.
        </p>
      </mat-card-header>
    </mat-card>
  </app-timeline-entry>

  <!-- Working Student Intershop -->
  <app-timeline-entry side="left" chip="Feb 2017">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-avatar-icon">work</mat-icon>
        <mat-card-title>Working Student - Software Engineering</mat-card-title>
        <mat-card-subtitle>Intershop Communications</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <p>
          Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum
          maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed,
          pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi vulputate
          pro. Ius illum vocent mediocritatem an, cule dicta iriure at.
        </p>
      </mat-card-header>
    </mat-card>
  </app-timeline-entry>

  <!-- Abitur -->
  <app-timeline-entry side="right" chip="Jul 2015">
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar class="card-avatar-icon">school</mat-icon>
        <mat-card-title>Abitur</mat-card-title>
        <mat-card-subtitle>Theresien-Gymnasium, München</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <p>
          Ubique maluisset vel te, his dico vituperata ut. Pro ei phaedrum
          maluisset. Ex audire suavitate has, ei quodsi tacimates sapientem sed,
          pri zril ubique ut. Lorem ipsum dolor sit amet, in quodsi vulputate
          pro. Ius illum vocent mediocritatem an, cule dicta iriure at.
        </p>
      </mat-card-header>
    </mat-card>
  </app-timeline-entry>
</div>
