<h1 class="pt-4 text-center">Skills</h1>

<div class="row">
  <div class="col-12 col-md-6" style="position: relative">
    <mat-card class="h-100">
      <button mat-fab color="primary" class="circle-icon">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-card-content class="pt-3">
        <h2 class="text-center">Professional</h2>
        <app-skill-item
          label="Angular"
          amount="90"
          [tags]="['Typescript', 'Rxjs', 'Ngrx', 'Ngx-formly']"
        ></app-skill-item>
        <app-skill-item
          label="Web Development"
          amount="80"
          [tags]="['Javascript', 'HTML', 'CSS', 'Bootstrap', 'node.js']"
        ></app-skill-item>
        <app-skill-item
          label="Unity"
          amount="60"
          [tags]="['C#', 'ML-Agents','UniRx', 'Extenject']"
        ></app-skill-item>
        <app-skill-item
          label="Development Tools"
          amount="75"
          [tags]="['Git', 'GitHub', 'Azure', 'VS Code']"
        ></app-skill-item>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-6" style="position: relative">
    <mat-card class="h-100">
      <button mat-fab color="primary" class="circle-icon">
        <mat-icon>person</mat-icon>
      </button>
      <mat-card-content class="pt-3">
        <h2 class="text-center">Personal</h2>
        <div class="row mb-3 pt-3">
          <div class="col-3">Languages</div>
          <div class="col-9 align-self-center">
            <mat-chip-list>
              <mat-chip selected="true" selectable="false">English</mat-chip>
              <mat-chip selected="true" selectable="false">German</mat-chip>
            </mat-chip-list>
          </div>
        </div>
        <div class="row filler"></div>
        <app-skill-item
          label="Teamwork"
          amount="85"
          [tags]="['sample', 'testing']"
        ></app-skill-item>
        <app-skill-item
          label="Communication"
          amount="80"
          [tags]="['sample', 'testing']"
        ></app-skill-item>
        <app-skill-item
          label="Leadership"
          amount="65"
          [tags]="['sample', 'testing']"
        ></app-skill-item>
      </mat-card-content>
    </mat-card>
  </div>
</div>
