<mat-card class="h-100">
  <mat-card-header>
    <mat-card-title>
      Bachelor Thesis:<br />
      Controlling virtual agents in an urban traffic simulation
    </mat-card-title>
    <mat-card-subtitle>
      <app-chip-tag-list
        [tags]="['Unity', 'C#', 'Reinforcement Learning']"
      ></app-chip-tag-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col-5">
          <img class="thumbnail" src="assets/thesis_thumbnail.PNG" />
        </div>
        <div class="col-7">
          <div class="row">
            <p>
              Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
              quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
              ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque.
            </p>
          </div>
          <div class="row align-items-end">
            <div class="col-auto">
              <button mat-raised-button color="primary">Download PDF</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
