@use '~@angular/material' as mat;

/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

@import '~@angular/material/theming';
@import './_variables';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.section-heading {
  font-size: 36px !important;
  margin-top: 3rem !important;
  margin-bottom: 2rem !important;
}

// Angular Material Theming
@include mat.core();

$custom-theme: mat.define-light-theme(
  (
    color: (
      primary: $custom-primary-palette,
      accent: $custom-accent-palette,
      warn: $custom-warn-palette,
    ),
  )
);

@include mat.all-component-themes($custom-theme);

$custom-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $custom-primary-palette,
      accent: $custom-accent-palette,
      warn: $custom-warn-palette,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($custom-dark-theme);
}
