@import '../../../../variables';
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

.my-name-is {
  font-size: 3vh; line-height: 3vh; padding-bottom: 1rem; padding-top: 4rem;
}

.name {
  font-size: 9vh; line-height: 12vh;
}

.description {
  font-size: 5vh; line-height: 5vh; margin-bottom: 2rem; color: grey;
}

.intro{
  font-size: 1rem; line-height: 1.6rem; max-width: 540px; color: grey;
}

@include media-breakpoint-up(md) {

 }


@include media-breakpoint-up(lg) {
  .my-name-is {
    font-size: 4vh; line-height: 4vh; padding-bottom: 1rem;
  }

  .name {
    font-size: 12vh; line-height: 12vh
  }

  .description {
    font-size: 10vh; line-height: 10vh; margin-bottom: 2rem; color: grey
  }
  .intro {
    max-width: 540px; font-size: 3vh; line-height: 3vh; color: grey
  }
}



.spacer {
  flex: 1 1 auto;
}

.toolbar {
  button {
    margin-left: 16px;
  }
}

.double-arrow {
  margin-top: 2rem;
  color: $primary;
  font-size: 84px;
  line-height: 84px;
}
