<mat-toolbar class="toolbar" color="primary" [@toolbarFade]="showHeader$ | async">
  <span style="font-size: 42px"> M </span>
  <span class="spacer"></span>
  <div class="d-none d-md-block">
    <button mat-stroked-button (click)="scrollToSection('overview')">About me</button>
    <button mat-stroked-button (click)="scrollToSection('skills')">Technologies</button>
    <button mat-stroked-button (click)="scrollToSection('education')">Experience & Education</button>
    <button mat-stroked-button (click)="scrollToSection('projects')">Projects</button>
    <app-github-corner style="margin-left: 60px"></app-github-corner>
  </div>
  <div class="d-block d-md-none" (click)="openSidenav()">
    <mat-icon class="menu-icon">menu</mat-icon>
  </div>
</mat-toolbar>
<div class="container" @textFadeIn>
  <div class="my-name-is">Hi, my name is</div>
  <div class="name">Max Kless.</div>
  <div class="description">I build things for the web.</div>
  <p class="intro">
    I’m a software engineer specializing in building web applications. Currently, I’m focused on building an extensible,
    developer-friendly web shop at Intershop.
  </p>
  <!-- <button mat-raised-button color="primary" class="my-3">Download my Resume</button> -->
  <div [@downUp]="arrowBounce$ | async" (@downUp.done)="bounce()">
    <mat-icon (click)="scrollToSection('overview')" class="double-arrow">keyboard_double_arrow_down</mat-icon>
  </div>
  <div #spacer [ngStyle]="{ height: (spacerHeight$ | async) + 'px' }"></div>
</div>
