@import '../../../../variables';

.spacer {
  flex: 1 1 auto;
}

.toolbar {
  button {
    margin-left: 16px;
  }
}

.double-arrow {
  margin-top: 2rem;
  color: $primary;
  font-size: 84px;
  line-height: 84px;
}
